* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

/* header */
.header {
    background: url(/assets/imgs/bg_header.png);
    background-size: cover;
    height: 566px;
    position: relative;
    font-family: 'Roboto', sans-serif !important;
}

.container-fluid.intro-thecanteen {
    background: url(assets/imgs/bg_intro_restaurant.png);
    height: 850px;
}

.menu {
    width: 100%;
    background-color: #343a4078;
}

ul.navbar-nav .nav-item {

    margin: 0 10px;
    position: relative;

}

a.navbar-brand {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

ul.navbar-nav.menu-left {
    font-size: 28px;
    font-weight: 400;
}

ul.navbar-nav.menu-left .nav-item .nav-link,
ul.navbar-nav.menu-right .nav-item .nav-link {
    color: #fff !important;
}

ul.navbar-nav.menu-right {
    font-size: 28px;
    font-weight: 400;
}

.navbar-brand img {
    height: 100% !important;
    width: auto;
    display: block;
}

.collapse {
    justify-content: space-around;
}

div#sologan {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 72px;
}

div#book_now {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#sologan h1 {
    color: white !important;
    font-size: 64px;
}

button.btn.btn-danger {
    font-size: 24px;
}

li.nav-item::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 0;
    left: auto;
    height: 2px;
    background-color: #ffa400;
    width: 0;
    transition: width 0.25s linear;
}

li.nav-item:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}
/* Cart block */
.cart{
    padding-bottom: 50px;
}
.row {
    justify-content: center;
}

.btn-back {
    font-size: 24px !important;
    background-color: rgba(209, 10, 0, 0.77) !important;
    border-radius: 10px !important;
    /* border-color: #fff !important; */
    margin: 80px 0px 45px !important;
}

.product-buy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 34px;
    height: 150px;
    border: 1px solid #D1CFCF;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

img.img-product {
    width: 134px;
    height: 134px;
}

.count {
    display: flex;
    align-items: center;
}

p#count {
    text-align: center;
    font-size: 24px;
    border: 1px solid #D1CFCF;
    padding: 5px 80px;
    margin: 0;
    margin-right: 15px;
    margin-left: 15px;
}

i.fas.fa-minus-circle {
    font-size: 24px;
    cursor: pointer;
}

i.fas.fa-trash-alt {
    font-size: 24px;
    cursor: pointer;
    /* background: rgba(0, 0, 0, 0.46); */
    /* border-radius: 50%; */
}

i.fas.fa-plus-circle {
    font-size: 24px;
    height: 24px;
    cursor: pointer;
}

p.name-product {
    font-size: 36px;
    margin-bottom: 0;
    font-weight: bold;
}

p.price-product {
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 49px;
}
.modal-footer.flex-center {
    justify-content: center;
}
/* Block total */
.block-total {
    border: 1px solid #D1CFCF;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 24px;
    height: 500px;
    position: relative;
}

.provisional-money {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: 24px;
}

.discount {
    display: flex;
    justify-content: space-between;
}

input.discount-code {
    margin-top: 30px;
    width: 100%;
    border: 1px solid #D1CFCF;
    box-sizing: border-box;
    border-radius: 10px;
    height: 47px;
    outline: none;
    text-align: center;
}

input.discount-code::placeholder {
    font-size: 18px;
    text-align: center;
}

.transport-fee {
    display: flex;
    justify-content: space-between;
}
.total-money {
    display: flex;
    justify-content: space-between;
}
hr#line {
    border: 0.7px solid #CDC6C6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.68);
    margin-top: 40px;
}

button.pay {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* footer */
.footer {
    background: url(/assets/imgs/bg_footer.png);
    height: 445px;
    margin-bottom: 0 !important;
}

p#sologan-footer {
    font-size: 24px;
    color: #A99292;
    padding-top: 21px;
}

p#address {
    font-size: 24px;
    color: #A99292;
}

i.fab.fa-facebook {
    font-size: 30px;
    color: #A99292;
}

i.fab.fa-twitter-square {
    font-size: 30px;
    color: #A99292;
    /* border-radius: 50%; */
}

i.fab.fa-google-plus {
    font-size: 30px;
    color: #A99292;
}

.main-footer {
    padding-top: 65px;
}
p#notice {
    font-size: 14px;
    color: #ff3547;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 0 !important;
    
}
/* reponsive */
@media (min-width: 320px) and (max-width:575px){
    .container-fluid.header {
        height: 40vh;
        background-size: cover;
    }
    span.navbar-toggler-icon {
        background-color: #ffffff;
    }

    .navbar-light .navbar-toggler {
        border: 0.5px solid #fff;
    }
    div#sologan {
        position: absolute;
    }

    #sologan h1 {
        font-size: 18px;
    }
    button.btn.btn-danger {
        padding: 5px 10px;
        font-size: 16px;
    }
    .navbar-brand img {
        height: 44px !important;
    }
    .pos-right,.pos-left {
        position: relative;
    }
    .menu {
        background: #343a40;
        z-index: 1;
    }
    ul.navbar-nav.menu-left {
        font-size: 14px;
    }

    ul.navbar-nav.menu-right {
        font-size: 14px;
    } 
    .btn-back {
        font-size: 1rem !important;
        margin: 10px 0 20px !important;
    }
    
    .product-buy {
        flex-direction: column;
        height: auto;
        position: relative;
    }
    
    i.fas.fa-trash-alt {
        order: 1;
        margin-bottom: 13px;
        opacity: 0.6;
    }
    
    p.name-product {
        font-size: 2rem;
        margin: 10px 0;
    }
    
    p.price-product {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    p#count {
        font-size: 18px;
    }
    
    .block-total {
        border: none;
    }
    p#sologan-footer {
        font-size: 18px;
    }
    
    p#address{
        font-size: 18px;
    }
    
    i.fab.fa-facebook {
        font-size: 24px;
    }
    
    i.fab.fa-twitter-square {
        font-size: 24px;
    }
    
    i.fab.fa-google-plus {
        font-size: 24px;
    }
}
@media (min-width: 576px) and (max-width:767px){
    .container-fluid.header {
        height: 400px;
        background-size: cover;
    }
    span.navbar-toggler-icon {
        background-color: #ffffff;
    }

    .navbar-light .navbar-toggler {
        border: 0.5px solid #fff;
    }
    div#sologan {
        position: absolute;
    }

    #sologan h1 {
        font-size: 1.7rem;
    }

    div#book_now {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50%;
        transform: translate(-50%, -50%);
    }

    button.btn.btn-danger {
        font-size: 18px;
    }
    .navbar-brand img {
        height: 44px !important;
    }
    .pos-right,.pos-left {
        position: relative;
    }
    .menu {
        background: #343a40;
        z-index: 1;
    }
    ul.navbar-nav.menu-left {
        font-size: 1rem;
    }

    ul.navbar-nav.menu-right {
        font-size: 1rem;
    }
    img.img-product {
        /* display: none; */
        width: 90px;
        height: 90px;
    }
    p.name-product {
        font-size: 1.5rem;
    }
    
    p#count {
        font-size: 18px;
        padding: 5px 30px;
        margin: 0 5px;
    }
    
    p.price-product {
        font-size: 1.5rem;
        margin-left: 10px;
    }
    
    .block-total {
        border: none;
    }
    .btn-back {
        margin: 10px 0 20px !important;
        font-size: 18px !important;
    }
    p#sologan-footer {
        font-size: 18px;
    }
    
    p#address {
        font-size: 18px;
    }
    
    i.fab.fa-facebook {
        font-size: 24px;
    }
    
    i.fab.fa-twitter-square {
        font-size: 24px;
    }
    
    i.fab.fa-google-plus {
        font-size: 24px;
    }
}
@media (min-width: 768px) and (max-width:991px){
    .menu-left .nav-item {
        font-size: 16px;
    }

    .menu-right .nav-item {
        font-size: 16px;
    }

    a.navbar-brand {
        margin-left: 30px;
    }

    #sologan h1 {
        font-size: 2rem;
    }

    .container-fluid.header {
        height: 50vh;
        background-size: cover;
    }
    img.img-product {
        width: 100px;
        height: 100px;
    }
    
    p.name-product {
        font-size: 1.5rem;
    }
    
    p#count {
        font-size: 18px;
        padding: 5px 20px;
    }
    
    p.price-product {
        font-size: 1.5rem;
        margin-left: 10px;
    }
    
    .block-total {
        border: none;
    }
    
    .btn-back {
        font-size: 18px !important;
        margin: 20px 0 !important;
    }
    
}
@media (min-width: 992px) and (max-width:1199px){
    ul.navbar-nav.menu-left {
        font-size: 20px;
    }

    ul.navbar-nav.menu-right {
        font-size: 20px;
    }

    a.navbar-brand {
        margin-left: 45px;
    }
    img.img-product {
        width: 110px;
        height: 110px;
    }
    
    p.name-product {
        font-size: 18px;
    }
    
    p#count {
        font-size: 18px;
        padding: 5px 20px;
    }
    p.price-product {
        font-size: 18px;
    }
    .pay {
        font-size: 18px !important;
        position: inherit !important;
    }
    
    .block-total {
        height: auto;
        font-size: 18px;
    }
    p.provisional-money-amount {
        font-size: 18px;
    }
    #sologan h1 {
        color: white !important;
        font-size: 2.5rem;
    }
}