* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

nav.navbar.navbar-expand-sm {
    padding: 0;
}

/* header */
.header {
    background: url(/assets/imgs/bg_header.png);
    background-size: cover;
    height: 566px;
    position: relative;
    font-family: 'Roboto', sans-serif !important;
}

.container-fluid.intro-thecanteen {
    background: url(assets/imgs/bg_intro_restaurant.png);
    height: 850px;
}

.menu {
    width: 100%;
    background-color: #343a4078;
}

ul.navbar-nav .nav-item {

    margin: 0 10px;
    position: relative;

}

a.navbar-brand {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 100px;
}

ul.navbar-nav.menu-left {
    font-size: 28px;
}

ul.navbar-nav.menu-left .nav-item .nav-link,
ul.navbar-nav.menu-right .nav-item .nav-link {
    color: #fff !important;
}

ul.navbar-nav.menu-right {
    font-size: 28px;
}

.navbar-brand img {
    height: 100% !important;
    width: auto;
    display: block;
}

.collapse {
    justify-content: space-around;
}

div#sologan {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 72px;
}

div#book_now {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#sologan h1 {
    color: white !important;
    font-size: 64px;
}

button.btn.btn-danger {
    font-size: 24px;
}

li.nav-item::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 0;
    left: auto;
    height: 2px;
    background-color: #ffa400;
    width: 0;
    transition: width 0.25s linear;
}

li.nav-item:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

/* main */
.container-fluid.main-promotions {
    height: 3173px;
    background-image: url(/assets/imgs/bg__promotions.svg);
}

.row {
    /* padding-bottom: 34px; */
    margin-bottom: 45px;
}

.block-prom {
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    height: 468px;
    position: relative;
    align-items: center;
    padding-top: 101px;
    padding-right: 0;
    padding-left: 0;
}

.content-prom {
    width: 620px;
    /* HEIGHT: 378px; */
    height: 378px;
    background: #FFFFFF;
    border: 1px solid #D5D1D1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1;
}

h1.name-promotions {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 21px;
}

p.time-promotions {
    text-align: center;
    font-size: 18px;
    color: #548C1D;
    font-weight: 500;
    margin-bottom: 23px;
}

hr.line-promotions {
    width: 37px;
    height: 0px !important;
    border: 0.5px solid #B4A5A5 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

p.content-prom-text {
    text-align: center;
    /* margin: 0 auto; */
    padding: 42px 42px 42px 42px;
    margin: 0;
    font-size: 18px;
}

button.btn-readmore {
    text-align: center;
    font-size: 24px;
    width: 152px;
    height: 50px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn-form a {
    color: #fff;
}
.btn-form a:hover{
    text-decoration: none;
    color: #fff;
}
.img-content {
    position: absolute;
}

.img-content img {
    max-width: 100%;
}

.btn-form {
    text-align: center;
}

.pos-left {
    left: 0;
    position: absolute;
}

.pos-right {
    right: 0;
}

/* footer */
.footer {
    background: url(/assets/imgs/bg_footer.png);
    height: 445px;
    margin-bottom: 0 !important;
}

p#sologan-footer {
    font-size: 24px;
    color: #A99292;
    padding-top: 21px;
}

p#address {
    font-size: 24px;
    color: #A99292;
}

i.fab.fa-facebook {
    font-size: 30px;
    color: #A99292;
}

i.fab.fa-twitter-square {
    font-size: 30px;
    color: #A99292;
    /* border-radius: 50%; */
}

i.fab.fa-google-plus {
    font-size: 30px;
    color: #A99292;
}

.main-footer {
    padding-top: 65px;
}
/* btn back to top */
#btn-backtop {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#btn-backtop::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: '\f077';
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#btn-backtop:hover {
    cursor: pointer;
    background-color: #333;
}

#btn-backtop:active {
    background-color: #555;
}

#btn-backtop.show {
    opacity: 1;
    visibility: visible;
}

/* reponsive */
@media (min-width:320px) and (max-width:479px) {
    .container-fluid.header {
        height: 40vh;
        background-size: cover;
        background-position: center;
    }
    span.navbar-toggler-icon {
        background-color: #fff;
    }
    .menu {
        background: #343a40;
        z-index: 9999;
    }

    .navbar-brand img {
        height: 44px !important;
    }
    a.navbar-brand {
        margin: 0;
    }
    ul.navbar-nav.menu-left {
        font-size: 1rem;
    }

    ul.navbar-nav.menu-right {
        font-size: 1rem;
    }

    #sologan h1 {
        font-size:18px;
    }

    button.btn.btn-danger.waves-effect.waves-light {
        font-size: 18px;
        padding: 10px 20px;
    }

    div#book_now button {
        padding: 5px 10px;
        font-size: 16px;
    }

    .main-promotions .row {
        margin-bottom: 0;
    }

    .main-promotions {
        height: auto !important;
    }

    .content-prom {
        width: 90%;
        height: auto;
        padding-bottom: 17px;
    }

    .img-content.pos-right {
        display: none;
    }

    .img-content.pos-left {
        display: none;
    }

    .block-prom {
        justify-content: center;
        padding-top: 0;
        height: 400px;
    }

    h1.name-promotions {
        font-size: 1.5rem;
    }

    p.time-promotions {
        font-size: 1rem;
        margin-bottom: 0;
    }

    p.content-prom-text {
        text-align: justify;
        padding: 30px 15px;
    }

    button.btn-readmore {
        width: 25%;
        font-size: 18px;
        height: 37px;
    }
    p#sologan-footer {
        font-size: 18px;
    }
    
    p#address {
        font-size: 18px;
    }
    
    i.fab.fa-facebook {
        font-size: 25px;
    }
    
    i.fab.fa-twitter-square {
        font-size: 24px;
    }
    
    i.fab.fa-google-plus {
        font-size: 24px;
    }
    span.navbar-toggler-icon {
        background-color: #fff;
    }
}

@media (min-width:480px) and (max-width:575px) {
    .container-fluid.header {
        height: 40vh;
    }

    .menu {
        background: #343a40;
        z-index: 1;
    }

    .navbar-brand img {
        height: 44px !important;
    }
    a.navbar-brand {
        margin: 0;
    }
    ul.navbar-nav.menu-left {
        font-size: 1rem;
    }

    ul.navbar-nav.menu-right {
        font-size: 1rem;
    }

    #sologan h1 {
        font-size: 1.5rem;
    }
    span.navbar-toggler-icon {
        background-color: #fff;
    }
    button.btn.btn-danger.waves-effect.waves-light {
        font-size: 18px;
        padding: 10px 20px;
    }

    div#book_now button {
        padding: 5px 10px;
        font-size: 16px;
    }

    .content-prom {
        max-width: 80%;
        height: auto;
        top: 295px;
        padding-bottom: 20px;
    }

    .block-prom {
        justify-content: center;
        height: 520px;
        padding-top: 0;
    }

    h1.name-promotions {
        font-size: 1.5rem;
    }

    p.time-promotions {
        font-size: 1rem;
        margin-bottom: 0;
    }

    p.content-prom-text {
        text-align: justify;
        padding: 30px;
    }

    button.btn-readmore {
        width: 27%;
        font-size: 18px;
        height: 30px;
    }

    .row {
        margin-bottom: 93px;
    }

    .container-fluid.main-promotions {
        margin-bottom: 36px;
    }

    .container-fluid.main-promotions {
        padding-bottom: 214px;
        margin-bottom: 0;
        height: auto;
    }
    p#sologan-footer {
        font-size: 18px;
    }
    
    p#address {
        font-size: 18px;
    }
    
    i.fab.fa-facebook {
        font-size: 24px;
    }
    
    i.fab.fa-twitter-square {
        font-size: 24px;
    }
    
    i.fab.fa-google-plus {
        font-size: 24px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .container-fluid.header {
        height: 400px;
        background-size: cover;
    }

    span.navbar-toggler-icon {
        background-color: #ffffff;
    }

    .navbar-light .navbar-toggler {
        border: 0.5px solid #fff;
    }

    div#sologan {
        position: absolute;
    }

    #sologan h1 {
        font-size: 1.7rem;
    }

    div#book_now {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50%;
        transform: translate(-50%, -50%);
    }

    button.btn.btn-danger {
        font-size: 18px;
    }

    .navbar-brand img {
        height: 44px !important;
    }
    a.navbar-brand {
        margin: 0;
    }
    .pos-right,
    .pos-left {
        position: relative;
    }

    .menu {
        background: #343a40;
        z-index: 1;
    }

    ul.navbar-nav.menu-left {
        font-size: 14px;
    }

    ul.navbar-nav.menu-right {
        font-size: 14px;
    }

    .content-prom {
        max-width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 189px;
    }

    h1.name-promotions {
        font-size: 1.5rem;
    }

    p.time-promotions {
        font-size: 1rem;
        margin-bottom: 0;
    }

    button.btn-readmore {
        width: 25%;
        font-size: 18px;
        height: 40px;
    }
    p#sologan-footer {
        font-size: 18px;
    }
    
    p#address {
        font-size: 18px;
    }
    
    i.fab.fa-facebook {
        font-size: 24px;
    }
    
    i.fab.fa-twitter-square {
        font-size: 24px;
    }
    
    i.fab.fa-google-plus {
        font-size: 24px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .menu-left .nav-item {
        font-size: 16px;
    }

    .menu-right .nav-item {
        font-size: 16px;
    }

    a.navbar-brand {
        margin-left: 30px;
    }

    #sologan h1 {
        font-size: 2rem;
    }

    .container-fluid.header {
        height: 500px;
        background-size: cover;
    }

    .col-md-11.col-xl-8.block-prom {
        padding: 0;
    }

    .content-prom {
        width: 70%;
        height: 70%;
    }

    h1.name-promotions {
        font-size: 1.5rem;
    }

    p.time-promotions {
        font-size: 1rem;
        margin-bottom: 0;
    }

    p.content-prom-text {
        padding-bottom: 10px;
    }

    button.btn-readmore {
        font-size: 18px;
        width: 22%;
        height: 30px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    ul.navbar-nav.menu-left {
        font-size: 20px;
    }

    ul.navbar-nav.menu-right {
        font-size: 20px;
    }

    a.navbar-brand {
        margin-left: 45px;
    }

    h1.name-promotions {
        font-size: 2rem;
    }

    button.btn-readmore {
        width: 90px;
        font-size: 18px;
        height: 36px;
    }

    .content-prom {
        width: 60%;
    }
    #sologan h1 {
        color: white !important;
        font-size: 2.5rem;
    }
}